


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1><%=t :LogInAsChef %></h1><p>
    <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label t(:LoginEmail) %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label t(:Password) %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label t(:remember_me), class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span><%=t :RememberMe %></span>
        <% end %>

        <%= f.submit t(:Login), class: "btn btn-primary" %>
    <% end %></p>
    <p><%= link_to t(:ForgotPassword), new_password_reset_path %>
    </p>
    <p><%=t :NewUser %> <%= link_to t(:SignUpNow), signup_path %></p>
  </div>
</div>