<% if(session[:admin]) %>
    <div class="row">
      <h3><i class="fa fa-street-view"></i> Manage your menus</h3>
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="<%= welcome_index_path %>"><i class="fa fa-tachometer"></i> Dashboard</a></li>
        <li role="presentation"><a href="<%= edit_user_path(current_user) %>"><i class="fa fa-user"></i> Account Settings</a></li>
        <li role="presentation"><a href="<%= edit_chef_path(@chef) %>"><i class="fa fa-street-view"></i> Manage your chef profile</a></li>
        <li role="presentation" class="active"><a href="<%= chef_menus_path(@chef) %>"><i class="fa fa-cutlery"></i> Manage your menus</a></li>
        <li role="presentation"><a href="<%= pending_path %>"><i class="fa fa-cart-plus"></i> Pending orders</a></li>
        <li role="presentation"><a href="<%= overview_path %>"><i class="fa fa-shopping-cart"></i> Order overview</a></li>
      </ul>
    </div>
<% end %>
<div class="row">
  <p></p>
  <p>
<% if(!session[:admin])%><%= link_to 'Back', chefs_path, class: 'btn btn-primary' %><% end %>
<%= link_to 'Add menu', new_chef_menu_path(@chef), class: 'btn btn-success' %>
</p>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th colspan="4">Actions</th>
  </tr>
  <% @chef.menus.each do |menu| %>
      <tr>
        <td><%= menu.name %></td>
        <td><%= menu.currency %> <%= menu.price %></td>
        <td><%= link_to 'Details', chef_menu_path(menu.chef, menu) %></td>
        <td><%= link_to 'Edit', edit_chef_menu_path(menu.chef, menu) %></td>
        <td><%= link_to 'Delete', [menu.chef, menu], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Manage courses', chef_menu_courses_path(@chef, menu) %></td>
      </tr>
  <% end %>
</table>
</div>
