<h1>Menus of chef <%= @chef.name %></h1>
<p>
<%= link_to 'Back', chefs_path, class: 'btn btn-primary' %>
<%= link_to 'Add menu', new_chef_menu_path(@chef), class: 'btn btn-success' %>
</p>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th colspan="4">Actions</th>
  </tr>
  <% @chef.menus.each do |menu| %>
      <tr>
        <td><%= menu.name %></td>
        <td><%= menu.currency %> <%= menu.price %></td>
        <td><%= link_to 'Details', chef_menu_path(menu.chef, menu) %></td>
        <td><%= link_to 'Edit', edit_chef_menu_path(menu.chef, menu) %></td>
        <td><%= link_to 'Delete', [menu.chef, menu], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Manage courses', chef_menu_courses_path(@chef, menu) %></td>
      </tr>
  <% end %>
</table>

