<% if(session[:admin]) %>
    <div class="row">
      <h3><i class="fa fa-street-view"></i> Manage your menus</h3>
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="<%= welcome_index_path %>"><i class="fa fa-tachometer"></i> <%=t :Dashboard %></a></li>
        <li role="presentation"><a href="<%= edit_user_path(current_user) %>"><i class="fa fa-user"></i> <%=t :AccountSettings %></a></li>
        <li role="presentation"><a href="<%= edit_chef_path(@chef) %>"><i class="fa fa-street-view"></i> <%=t :ManageYourProfile %></a></li>
        <li role="presentation" class="active"><a href="<%= chef_menus_path(@chef) %>"><i class="fa fa-cutlery"></i> <%=t :ManageYourMenus %></a></li>
        <li role="presentation"><a href="<%= pending_path %>"><i class="fa fa-cart-plus"></i> <%=t :PendingOrders %></a></li>
        <li role="presentation"><a href="<%= overview_path %>"><i class="fa fa-shopping-cart"></i> <%=t :OrderOverview %></a></li>
      </ul>
    </div>

    <div class="row">
      <p></p>
      <div class="alert alert-info " role="alert">
        <strong><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          <%=t :MenuIndexMsg %></strong>
      </div>
    </div>
<% end %>
<div class="row">
  <p></p>
  <p>
<% if(!session[:admin])%><%= link_to t(:back), chefs_path, class: 'btn btn-primary' %><% end %>
<%= link_to t(:AddMenu), new_chef_menu_path(@chef), class: 'btn btn-success' %>
</p>

<table class="table table-striped">
  <tr>
    <th><%=t :AdminMenuName %></th>
    <th><%=t :AdminMenuPrice %></th>
    <th colspan="4"><%=t :Actions %></th>
  </tr>
  <% @chef.menus.each do |menu| %>
      <tr>
        <td><%= menu.name %></td>
        <td><%= menu.currency %> <%= menu.price %></td>
        <td><%= link_to t(:Details), chef_menu_path(menu.chef, menu) %></td>
        <td><%= link_to t(:AdminEditMenu), edit_chef_menu_path(menu.chef, menu) %></td>
        <td><%= link_to t(:Delete), [menu.chef, menu], method: :delete, data: { confirm: t(:DeleteMsg) } %></td>
        <td><%= link_to t(:ManageCourses), chef_menu_courses_path(@chef, menu) %></td>
      </tr>
  <% end %>
</table>
</div>
