<% if(session[:admin]) %>
    <div class="row">
      <h3><i class="fa fa-street-view"></i> Manage your menus</h3>
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="<%= welcome_index_path %>"><i class="fa fa-tachometer"></i> Dashboard</a></li>
        <li role="presentation"><a href="<%= edit_user_path(current_user) %>"><i class="fa fa-user"></i> Account Settings</a></li>
        <li role="presentation"><a href="<%= edit_chef_path(@chef) %>"><i class="fa fa-street-view"></i> Manage your chef profile</a></li>
        <li role="presentation" class="active"><a href="<%= chef_menus_path(@chef) %>"><i class="fa fa-cutlery"></i> Manage your menus</a></li>
        <li role="presentation"><a href="<%= pending_path %>"><i class="fa fa-cart-plus"></i> Pending orders</a></li>
        <li role="presentation"><a href="<%= overview_path %>"><i class="fa fa-shopping-cart"></i> Order overview</a></li>
      </ul>
    </div>
<% end %>

<h1>Add new menu</h1>

<%= bootstrap_form_for :menu, url: chef_menus_path do |f| %>

    <% if @menu.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <%= pluralize(@menu.errors.count, "error") %> prohibited
          this menu from being saved:
          <ul>
            <% @menu.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <!--Basics-->
    <div class="page-header"><h3>Basics</h3></div>

    <div class="form-group">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.select :currency, ['PEN', 'GBP', 'USD', 'EUR'], :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.text_field :price, :class => 'form-control'  %>
    </div>

    <div class="form-group">
      <%= f.text_area :description, :class => 'form-control'  %>
    </div>

    <div class="page-header"><h3>Images</h3></div>
    <div class="form-group">
      <%= f.file_field :photo1, :class => 'form-control'  %>
    </div>
    <div class="form-group">
      <%= f.file_field :photo2, :class => 'form-control'  %>
    </div>
    <div class="form-group">
      <%= f.file_field :photo3, :class => 'form-control'  %>
    </div>
    <div class="form-group">
      <%= f.file_field :photo4, :class => 'form-control'  %>
    </div>
    <div class="form-group">
      <%= f.file_field :photo5, :class => 'form-control'  %>
    </div>


    <div class="page-header"><h3>Additional information</h3></div>
    <div class="form-group">
      <%= f.check_box :option_alcohol%>
    </div>
    <div class="form-group">
  <%= f.check_box :option_change%>
</div>
    <div class="form-group">
      <%= f.text_field :partysize, :class => 'form-control'  %>
    </div>
    <div class="form-group">
      <%= f.text_field :hashtags, :class => 'form-control'  %>
    </div>

    <div class="form-group">
      <%= f.check_box :cuisine_italian%>
    </div>
    <div class="form-group">
      <%= f.check_box :cuisine_peruvian %>
    </div>
    <div class="form-group">
      <%= f.check_box :cuisine_mediterranean%>
    </div>
    <div class="form-group">
      <%= f.check_box :cuisine_spanish%>
    </div>
    <div class="form-group">
      <%= f.check_box :cuisine_american%>
    </div>
    <div class="form-group">
      <%= f.check_box :cuisine_japanese%>
    </div>
    <div class="form-group">
      <%= f.check_box :cuisine_fusion%>
    </div>
    <div class="form-group">
      <%= f.check_box :cuisine_thai%>
    </div>
    <div class="form-group">
      <%= f.check_box :cuisine_vietnamese%>
    </div>
    <div class="form-group">
      <%= f.check_box :cuisine_latinamerican%>
    </div>
    <div class="form-group">
      <%= f.check_box :cuisine_indian%>
    </div>
    <div class="form-group">
      <%= f.check_box :cuisine_persian%>
    </div>
    <div class="form-group">
      <%= f.check_box :cuisine_bbq%>
    </div>
    <div class="form-group">
      <%= f.check_box :cuisine_argentinian%>
    </div>
    <div class="form-group">
      <%= f.check_box :cuisine_anticuchos%>
    </div>
    <div class="form-group">
      <%= f.check_box :cuisine_patisserie%>
    </div>
    <div class="form-group">
      <%= f.check_box :cuisine_exotic%>
    </div>
    <div class="form-group">
      <%= f.check_box :cuisine_german%>
    </div>
    <div class="form-group">
      <%= f.check_box :cuisine_brazilian%>
    </div>
    <div class="form-group">
      <%= link_to 'Back', chef_menus_path, class: "btn btn-primary" %>
      <%= f.submit class: "btn btn-success" %>
    </div>
<% end %>
