
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-8">
                    <img src="<%=@chef.picture%>" class="img-circle img-center img-responsive">
                  </div>
                  <div class="col-md-2"></div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h1 class="text-center"><%=@chef.name%></h1>
                    <p><%=@chef.biography%></p>

                    <table class="table">

                      <tr><td><i class="fa fa-money "></i></td> <td>
                        S./ <%=@menu.price%> <%=t(:PerPerson)%></td></tr>
                      <tr><td><i class="fa fa-users"></i></td> <td><%= @menu.partysize%> <%=t(:Persons)%></td></tr>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 hidden-xs hidden-md text-center">
                    <%= link_to t(:MenuBookNow), orders_new_path(menu_id: @menu.id, type: 'enquiry'), class: 'btn btn-large btn-primary', style: 'color:#FFF' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-12">
                <%= link_to t(:MenuBookNow), orders_new_path(menu_id: @menu.id, type: 'enquiry'), class: 'btn btn-large btn-primary center-block', style: 'color:#FFF' %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <h1 class="text-center"><%=@menu.name%></h1>
              </div>
            </div>

            <div class="row hidden-xs">
              <div class="col-md-12">
                <div class="col-md-12">
                  <div class="col-md-12">
                    <div id="carousel-example" class="carousel slide" data-ride="carousel" data-interval="5000">
                      <div class="carousel-inner">
                        <%if @menu.photo1.present?%>
                            <div class="item active">
                              <img src="<%=@menu.photo1%>">
                            </div>
                        <%end%>
                        <%if @menu.photo2.present? %>
                            <div class="item">
                              <img src="<%=@menu.photo2%>">
                            </div>
                        <% end %>
                        <%if @menu.photo3.present? %>
                            <div class="item">
                              <img src="<%=@menu.photo3%>">
                            </div>
                        <% end %>

                      </div>
                      <a class="left carousel-control" href="#carousel-example" data-slide="prev"><i class="icon-prev  fa fa-angle-left"></i></a>
                      <a class="right carousel-control" href="#carousel-example" data-slide="next"><i class="icon-next fa fa-angle-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <% @menu.courses.each do |course| %>
                <div class="row">
                  <div class="col-md-12">
                    <h2 class="text-center"><%=course.name%></h2>
                    <p class="text-center"><%=course.description%></p>
                  </div>
                </div>
            <% end %>


            <div class="row">
              <div class="col-md-12">
                <%= link_to t(:MenuBookNow), orders_new_path(menu_id: @menu.id, type: 'enquiry'), class: 'btn btn-large btn-primary center-block', style: 'color:#FFF' %>
              </div>
              <div>
                <p class="text-center"><i><br>Se debe reservar con un mínimo de 7 días de anticipación<br>
                  El precio por persona no incluye mozos, menaje y bebidas (alcohólicas y no alcohólicas)</i> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-primary text-center"><%= t(:LContactUs)%></h1>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-1"></div>
          <div class="col-md-2 text-center">
            <a href="https://instagram.com/losibaritas"><i class="fa fa-5x fa-fw fa-instagram"></i></a>
          </div>
          <div class="col-md-2">
            <a href="https://twitter.com/losibaritas"><i class="fa fa-5x fa-fw fa-twitter"></i></a>
          </div>
          <div class="col-md-2">
            <a href="https://www.facebook.com/losibaritas"><i class="fa fa-5x fa-fw fa-facebook"></i></a>
          </div>
          <div class="col-md-2">
            <a href="http://losibaritas.tumblr.com/"><i class="fa fa-5x fa-fw fa-tumblr"></i></a>
          </div>
          <div class="col-md-2 text-center">
            <a href="mailto:sibaritas.chefs@gmail.com"><i class="fa fa-5x fa-fw hub fa-envelope-o"></i></a>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>




