
<div class="jumbotron text-center">
  <div class="container">
    <div class="row">
      <div class="col col-lg-12 col-sm-12">
        <h1><%= @menu.name %></h1>
        <p><%=t :MenuByChef %> <%= link_to chef_path(@menu.chef) do %>
          <%= @menu.chef.name %>
          <% end %>
              </p>
        <img src="<%= @menu.photo2 %>" class="img-responsive img-rounded">
        <p><strong><%= @menu.description %></strong></p>
        <p><%=t :MenuPrice %>: <%= @menu.currency %> <%=@menu.price%> - <%=t :MenuPartySize%>: <%= @menu.partysize %> <%=t :MenuGuests %></p>
      </div>
    </div>
  </div>
</div>
<!-- /header container-->

<!-- CONTENT
=================================-->
<div class="container">
  <% @menu.courses.each do |course| %>
  <div class="row">
    <div class="col-lg-12"><div class="well text-center">
      <p>
        <h4><strong><%= course.name %></strong></h4>
        <%= course.course_type %><br>
        <%= course.description %>
      </p>
    </div></div>
  </div>
  <% end %>
  <div class="row">
    <p class="panel-body text-center">
      <%= link_to "Back", :back, class: 'btn btn-primary' %>
      <%= link_to 'Chef Infos', chef_path(@menu.chef), class: 'btn btn-primary' %>
      <%= link_to 'Book now', orders_new_path(menu_id: @menu.id), class: 'btn btn-success' %>
    </p>
  </div>
</div>
