<h1><%= @menu.name %></h1>
<p><%= @menu.description %></p>
<p>Price: <%= @menu.currency %> <%=@menu.price%> - Party size: <%= @menu.partysize %> </p>

<% @menu.courses.each do |course| %>
    <p>
      <strong><%= course.name %></strong><br>
      <%= course.course_type %><br>
      <%= course.description %><br>
    </p>
<% end %>
