<% if(session[:admin]) %>
    <div class="row">
      <h3><i class="fa fa-street-view"></i> Manage your menus</h3>
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="<%= welcome_index_path %>"><i class="fa fa-tachometer"></i> Dashboard</a></li>
        <li role="presentation"><a href="<%= edit_user_path(current_user) %>"><i class="fa fa-user"></i> Account Settings</a></li>
        <li role="presentation"><a href="<%= edit_chef_path(@menu.chef) %>"><i class="fa fa-street-view"></i> Manage your chef profile</a></li>
        <li role="presentation" class="active"><a href="<%= chef_menus_path(@menu.chef) %>"><i class="fa fa-cutlery"></i> Manage your menus</a></li>
        <li role="presentation"><a href="<%= pending_path %>"><i class="fa fa-cart-plus"></i> Pending orders</a></li>
        <li role="presentation"><a href="<%= overview_path %>"><i class="fa fa-shopping-cart"></i> Order overview</a></li>
      </ul>
    </div>
<% end %>

<div class="jumbotron text-center">
  <div class="container">
    <div class="row">
      <div class="col col-lg-12 col-sm-12">
        <h1><%= @menu.name %></h1>
        <p><%=t :MenuByChef %> <%= link_to chef_path(@menu.chef) do %>
          <%= @menu.chef.name %>
          <% end %>
              </p>
        <img src="<%= @menu.photo2 %>" class="img-responsive img-rounded">
        <p><strong><%= @menu.description %></strong></p>
        <p><%=t :MenuPrice %>: <%= @menu.currency %> <%=@menu.price%> - <%=t :MenuPartySize%>: <%= @menu.partysize %> <%=t :MenuGuests %></p>
      </div>
    </div>
  </div>
</div>
<!-- /header container-->

<!-- CONTENT
=================================-->
<div class="container">
  <% @menu.courses.each do |course| %>
  <div class="row">
    <div class="col-lg-12"><div class="well text-center">
      <p>
        <h4><strong><%= course.name %></strong></h4>
        <%= course.course_type %><br>
        <%= course.description %>
      </p>
    </div></div>
  </div>
  <% end %>
  <div class="row">
    <p class="panel-body text-center">
      <%= link_to "Back", :back, class: 'btn btn-primary' %>
      <% if(!session[:admin]) %>
      <%= link_to 'Chef Infos', chef_path(@menu.chef), class: 'btn btn-primary' %>
      <%= link_to 'Book now', orders_new_path(menu_id: @menu.id), class: 'btn btn-success' %>
      <% end %>
    </p>
  </div>
</div>
