<h1>Order confirmation</h1>
<p>Congratulations,<br>
you have successfully confirmed a dinner</p>
Selected menu: <%=@menu.name%><br>
Guests <%=@order.no_of_guests %><br>
Name <%=@order.name %><br>
Email <%=@order.email %><br>
Phone <%=@order.phone %><br>
Street <%=@order.street %><br>
City <%=@order.city %><br>
Postalcode <%=@order.postalcode %><br>
Country <%=@order.country %><br>
Remarks for Sibaritas <%=@order.remarks_sibaritas %><br>
Remarks for chef <%=@order.remarks_chef %><br>
Net price <%=@order.net_price %><br>
VAT <%=@order.vat_amount %><br>
Currency <%=@order.currency %><br>
Date <%=@order.cook_date %><br>
Time <%=@order.cook_time %><br>
Location <%=@order.cook_location %>