
<% if(session[:admin]) %>
    <div class="row">
      <h3><i class="fa fa-street-view"></i> Manage your chef profile</h3>
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="<%= welcome_index_path %>"><i class="fa fa-tachometer"></i> <%=t :Dashboard %></a></li>
        <li role="presentation"><a href="<%= edit_user_path(current_user) %>"><i class="fa fa-user"></i> <%=t :AccountSettings %></a></li>
        <li role="presentation" class="active"><a href="<%= edit_chef_path(@chef) %>"><i class="fa fa-street-view"></i> <%=t :ManageYourProfile %></a></li>
        <li role="presentation"><a href="<%= chef_menus_path(@chef) %>"><i class="fa fa-cutlery"></i> <%=t :ManageYourMenus %></a></li>
        <li role="presentation"><a href="<%= pending_path %>"><i class="fa fa-cart-plus"></i> <%=t :PendingOrders %></a></li>
        <li role="presentation"><a href="<%= overview_path %>"><i class="fa fa-shopping-cart"></i> <%=t :OrderOverview %></a></li>
      </ul>
    </div>

    <div class="row">
      <p></p>
      <div class="alert alert-info " role="alert">
        <strong><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          <%=t :ChefEditFlashMsg %></strong>
      </div>
    </div>

    <div class="row">
      <p></p><%= link_to t(:PreviewChef), chef_path(@chef), target: 'blank', class: 'btn btn-success' %><p></p>
    </div>
<% end %>



<%= bootstrap_form_for :chef, url: chef_path(@chef), method: :patch do |f| %>

<% if @chef.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <%= pluralize(@chef.errors.count, "error") %> prohibited
          this chef from being saved:
          <ul>
            <% @chef.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
<% end %>


    <div>
      <%= f.label t(:AdminName) %>
      <%= f.text_field :name, :class => 'form-control', hide_label: true %>
    </div>

    <div>
      <%= f.label t(:AdminEmail) %>
      <%= f.email_field :email, :class => 'form-control', hide_label: true %>
    </div>

    <div class="form-group">
      <%= f.label t(:AdminLocation) %>
      <%= f.select :location, ['Perú', 'United Kingdom', 'France'], :class => 'form-control', hide_label: true %>
    </div>

    <div class="form-group">
      <%= f.label t(:AdminBibliography) %>
      <%= f.text_area :biography, :class => 'form-control', hide_label: true %>
    </div>

    <div class="form-group">
      <%= f.label t(:AdminCulinaryTraining) %>
      <%= f.text_area :culinarytraining, :class => 'form-control', hide_label: true %>
    </div>

    <div class="form-group">
      <%= f.label t(:AdminStyles) %>
      <%= f.text_area :styles, :class => 'form-control', hide_label: true %>
    </div>

    <div class="form-group">
      <%= f.label t(:AdminPicture) %>
      <%= f.file_field :picture, :class => 'form-control', hide_label: true %>
    </div>

    <div class="form-group">
      <%= f.label t(:AdminVideo) %>
      <%= f.file_field :video, :class => 'form-control', hide_label: true %>
    </div>

    <div class="form-group">
      <%=t :FacebookExplanation %>
      <%= f.label t(:AdminFacebook) %>
      <%= f.url_field :facebook, :class => 'form-control', hide_label: true %>
    </div>
    <!--Service-->

    <div class="form-group">
      <%=t :TeachingExplanation %>
      <%= f.check_box :teaching, hide_label: true %>
      <%= f.label :teaching, t(:AdminTeaching) %>
    </div>


    <div class="form-group">
      <%=t :HelpersExplanation %>
      <%= f.label t(:AdminNumberOfHelpers) %>
      <%= f.text_field :number_of_helpers, :class => 'form-control', hide_label: true %>
    </div>

    <div class="form-group">
      <%=t :MinExplanation %>
      <%= f.label t(:AdminMinSize) %>
      <%= f.text_field :min_size, :class => 'form-control', hide_label: true %>
    </div>

    <div class="form-group">
      <%=t :MaxExplanation %>
      <%= f.label t(:AdminMaxSize) %>
      <%= f.text_field :max_size, :class => 'form-control', hide_label: true %>
    </div>

    <div class="form-group">
      <% if(!session[:admin])%>
          <%= link_to t(:back), chefs_path, class: 'btn btn-primary' %>
      <% end %>
      <%= f.submit t(:AdminSaveChef), class: 'btn btn-success' %>
    </div>
<% end %>

