<h2>Modify chef</h2>

<%= bootstrap_form_for :chef, url: chef_path(@chef), method: :patch do |f| %>

<% if @chef.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <%= pluralize(@chef.errors.count, "error") %> prohibited
          this chef from being saved:
          <ul>
            <% @chef.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
<% end %>

    <!--Basics-->
    <div class="page-header"><h3>Basics</h3></div>
    <div>
      <%= f.text_field :name, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.text_field :age, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.text_field :location, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.text_area :biography, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.text_area :culinarytraining, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.text_area :styles, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.text_field :picture, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.text_field :video, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.url_field :facebook, :class => 'form-control' %>
    </div>
    <!--Service-->
    <div class="page-header"><h3>Services</h3></div>

    <div class="form-group">
      <%= f.check_box :family_dinner%>
    </div>

    <div class="form-group">
      <%= f.check_box :informal_reunion%>
    </div>

    <div class="form-group">
      <%= f.check_box :last_minute%>
    </div>

    <div class="form-group">
      <%= f.check_box :teaching%>
    </div>

    <div class="form-group">
      <%= f.text_field :number_of_helpers, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.text_field :min_size, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.text_field :max_size, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= link_to 'Back', chefs_path, class: 'btn btn-primary' %>
      <%= f.submit class: 'btn btn-success' %>
    </div>
<% end %>

