<h1>Chef overview</h1>

<p>
<%= link_to 'Add chef', new_chef_path, class: 'btn btn-success' %>
</p>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Location</th>
    <th>Styles</th>
    <th colspan="4">Actions</th>
  </tr>

  <% @chefs.each do |chef| %>
      <tr>
        <td><%= chef.name %></td>
        <td><%= chef.age %></td>
        <td><%= chef.location %></td>
        <td><%= chef.styles %></td>
        <td><%= link_to 'Details', chef_path(chef) %></td>
        <td><%= link_to 'Edit', edit_chef_path(chef) %></td>
        <td><%= link_to 'Delete', chef_path(chef), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Manage menus', chef_menus_path(chef) %></td>
      </tr>
  <% end %>
</table>