<h2>New chef</h2>

<%= bootstrap_form_for :chef, url: chefs_path do |f| %>

<% if @chef.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <%= pluralize(@chef.errors.count, "error") %> prohibited
          this chef from being saved:
          <ul>
            <% @chef.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
<% end %>



    <!--Basics-->
    <!-- Disabled per comment all currently not-required fields -->
    <div>
      <%= f.label t(:AdminName) %>
      <%= f.text_field :name, :class => 'form-control', hide_label: true %>
    </div>

    <div>
      <%= f.label t(:AdminEmail) %>
      <%= f.email_field :email, :class => 'form-control', hide_label: true %>
    </div>


    <div class="form-group">
      <%= f.label t(:AdminLocation) %>
    <%= f.select :location, ['Perú', 'United Kingdom', 'France'], :class => 'form-control', hide_label: true %>
    </div>

    <div class="form-group">
      <%= f.label t(:AdminBibliography) %>
      <%= f.text_area :biography, :class => 'form-control', hide_label: true %>
    </div>

    <!--
    <div class="form-group">
      <%= f.label t(:AdminCulinaryTraining) %>
    <%= f.text_area :culinarytraining, :class => 'form-control', hide_label: true %>
    </div>

    <div class="form-group">
      <%= f.label t(:AdminStyles) %>
    <%= f.text_area :styles, :class => 'form-control', hide_label: true %>
    </div>
    -->
    <div class="form-group">
      <%= f.label t(:AdminPicture) %>
      <%= f.file_field :picture, :class => 'form-control', hide_label: true %>
    </div>

    <div class="form-group">
      <%= f.label t(:AdminVideo) %>
    <%= f.file_field :video, :class => 'form-control', hide_label: true %>
    </div>

    <div class="form-group">
      <%=t :FacebookExplanation %>
    <%= f.label t(:AdminFacebook) %>
    <%= f.url_field :facebook, :class => 'form-control', hide_label: true %>
    </div>
    <!--Service-->
    <!--
    <div class="form-group">
      <%=t :TeachingExplanation %>
    <%= f.check_box :teaching, hide_label: true %>
    <%= f.label :teaching, t(:AdminTeaching) %>
    </div>


    <div class="form-group">
      <%=t :HelpersExplanation %>
    <%= f.label t(:AdminNumberOfHelpers) %>
    <%= f.text_field :number_of_helpers, :class => 'form-control', hide_label: true %>
    </div>

    <div class="form-group">
      <%=t :MinExplanation %>
    <%= f.label t(:AdminMinSize) %>
    <%= f.text_field :min_size, :class => 'form-control', hide_label: true %>
    </div>

    <div class="form-group">
      <%=t :MaxExplanation %>
    <%= f.label t(:AdminMaxSize) %>
    <%= f.text_field :max_size, :class => 'form-control', hide_label: true %>
    </div>
-->
    <div class="form-group">
      <% if(!session[:admin])%>
          <%= link_to t(:back), chefs_path, class: 'btn btn-primary' %>
      <% end %>
      <%= f.submit t(:AdminSaveChef), class: 'btn btn-success' %>
    </div>
    <h3>To help you, you can see where your input will show on your events page</h3>
    <img src="//s3-sa-east-1.amazonaws.com/losibaritas/admin/Event-Chef-View.png" class="img img-responsive img-center">
<% end %>