<header class="business-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container">

  <hr>

  <div class="row">
    <div class="col-sm-8">
      <h2><%=@chef.name%></h2>
      <p><strong>Location: </strong> <%= @chef.location %> <strong>Age: </strong> <%= @chef.age %> <strong>Styles: </strong>
        <%= @chef.styles %>
      <p><strong>Biography: </strong> <%= @chef.biography %></p>

      <a class="btn btn-default" data-toggle="collapse" href="#collapseExample_chef_<%=@chef.id%>" aria-expanded="false" aria-controls="collapseExample_chef_<%=@chef.id%>">
        Learn more &raquo;
      </a>

      <div class="collapse" id="collapseExample_chef_<%=@chef.id%>">
          <p><strong>Culinary Training: </strong> <%= @chef.culinarytraining %></p>
      </div>
    </div>
    <div class="col-sm-4 text-center">
      <img src="<%= @chef.picture %>" alt="" class="center-block img-circle img-thumbnail img-responsive">
      Ratings:
      <ul class="list-inline ratings text-center" title="Ratings">
        <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
        <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
        <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
        <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
        <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
      </ul>
    </div>
  </div>
  <!-- /.row -->

  <hr>


  <div class="row">
    <% @chef.menus.each do |menu| %>
    <div class="col-sm-4">
      <img class="img-circle img-responsive img-center" src="<%=menu.photo1%>"" alt="">
      <h2><%=menu.name%></h2>
      <p><%=menu.description%></p>
      <a class="btn btn-default" data-toggle="collapse" href="#collapseExample_<%=menu.id%>" aria-expanded="false" aria-controls="collapseExample_<%=menu.id%>">
        See courses
      </a>
      <%= link_to 'Book now', orders_new_path(menu_id: menu.id), class: 'btn btn-success' %>
      <div class="collapse" id="collapseExample_<%=menu.id%>">
        <div class="well">
          <% menu.courses.each do |course| %>
              <p><strong><%= course.course_type %> - <%= course.name %></strong><br>
                <%= course.description %></p>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <hr>
  <%= link_to "Back", :back, class: 'btn btn-primary' %>
  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; LoSibaritas 2015</p>
      </div>
    </div>
    <!-- /.row -->
  </footer>



