
<div class="container">
  <div class="row">
    <div class="col-md-8 col-xs-10">
      <div class="well panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-4 text-center">
              <img src="<%= @chef.picture %>" alt="" class="center-block img-circle img-thumbnail img-responsive">
              <ul class="list-inline ratings text-center" title="Ratings">
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
              </ul>
            </div>
            <!--/col-->
            <div class="col-xs-12 col-sm-8">
              <h2><%= @chef.name %></h2>
              <p><strong>Location: </strong> <%= @chef.location %> </p>
              <p><strong>Age: </strong> <%= @chef.age %> </p>
              <p><strong>Styles: </strong>
                <span class="label label-info tags"><%= @chef.styles %></span>
             <p><strong>Biography: </strong> <%= @chef.biography %></p>
             <p><strong>Culinary Training: </strong> <%= @chef.culinarytraining %></p>

              </p>
            </div>
            <!--/col-->
            <% @chef.menus.each do |menu| %>
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="well well-sm">
                    <div class="row">
                      <div class="col-sm-6 col-md-4">
                        <img src="<%=menu.photo1%>" alt="" class="img-rounded img-responsive" />
                      </div>
                      <div class="col-sm-6 col-md-8">
                        <h4><%= menu.name %></h4>
                        <p><small>Price: <%=menu.currency%> <%=menu.price%> - Recommended party size: <%=menu.partysize%></small></p>
                        <p><%=menu.description%></p>
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                          See courses
                        </a>
                        <div class="collapse" id="collapseExample">
                          <div class="well">
                            <% menu.courses.each do |course| %>
                                <p><strong><%= course.course_type %> - <%= course.name %></strong><br>
                                <%= course.description %></p>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
            <!--/col-->
          </div>
          <!--/row-->
        </div>
        <!--/panel-body-->
      </div>
      <!--/panel-->
    </div>
    <!--/col-->
  </div>
  <!--/row-->
</div>
<!--/container-->

<%= link_to 'Edit', edit_chef_path(@chef), class: 'btn btn-success' %>
<%= link_to 'Back', chefs_path, class: 'btn btn-primary' %>