<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5&appId=1564821780431761";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Page Content -->
<div class="container">

  <hr>
  <div class="row">
    <div class="col-sm-12"><%= link_to t(:back), :back, class: 'btn btn-primary' %></div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <h2><%=@chef.name%></h2>
      <p><strong><%=t :ChefLocation%> </strong> <%= @chef.location %> <strong><%=t :ChefStyles%> </strong>
        <%= @chef.styles %>
      <p><strong><%=t :ChefBiography%> </strong> <%= @chef.biography %></p>

      <p><strong><%=t :CulinaryTraining%> </strong> <%= @chef.culinarytraining %></p>

    </div>
    <div class="col-sm-4 text-center">
      <% if @chef.picture %><img src="<%= @chef.picture %>" alt="" class="center-block img-circle img-thumbnail img-responsive"><% end %>
      <% if @chef.facebook %>
      <p>
        <br>
        <a href="<%=@chef.facebook%>"><i class="fa fa-facebook fa-2x"></i></a>
        <br>
      </p>
      <% end %>

    </div>
  </div>
  <!-- /.row -->

  <hr>


  <div class="row">
    <h2><%=t :ChefTheMenus%></h2>
    <div class="container-fluid">
      <div class="row text-center">
        <h3 style="color:white;font-family:verdana;">Snap Tight Image Tiles (Responisve)</h3>
      </div>
      <div class="row">
        <% @chef.menus.each_with_index do |menu, index| %>
            <% if index < 2 then @tilesize=6 end %>
            <% if index > 1 && index < 6 then @tilesize=3 end %>
            <%= link_to chef_menu_path(menu.chef, menu) do %>
            <div class="cover-card col-sm-<%=@tilesize%>" style="background: url(<%=menu.photo1%>) no-repeat center top;background-size:cover;">
          <p><strong><%=menu.name%></strong></p>
        </div><% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <h2>Comentarios</h2>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="fb-comments" data-href="https://www.losibaritas.com/chefs/<%=@chef.id%>" data-numposts="5"></div>
    </div>
    <div class="col-md-2"></div>
  </div>


  <hr>
  <%= link_to t(:back), :back, class: 'btn btn-primary' %>
  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; LoSibaritas 2015</p>
      </div>
    </div>
    <!-- /.row -->
  </footer>
</div>

