<div class="row">
  <h1 class="page-header">Dashboard</h1>
</div>

<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-users fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= @chefs.count %></div>
            <div>registered chefs</div>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer">
          <span class="pull-left"></span>
          <span class="pull-right"></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-birthday-cake fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= @menus.count %></div>
            <div>different menus</div>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer">
          <span class="pull-left"></span>
          <span class="pull-right"></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-cutlery fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= @events.count %></div>
            <div>different events</div>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer">
          <span class="pull-left"></span>
          <span class="pull-right"></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-red">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-shopping-cart fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= @orders.count %></div>
            <div>received orders</div>
          </div>
        </div>
      </div>
      <a href="orders">
        <div class="panel-footer">
          <span class="pull-left"></span>
          <span class="pull-right"></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Most recent orders
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="table-responsive">
          <%= will_paginate @orders, :param_name => 'page' %>
          <table class="table">
            <thead>
            <tr>
              <th>Name</th>
              <th>Order Date</th>
              <th>Number of Guests</th>
              <th>Price</th>
              <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <% @orders.each do |order| %>
            <tr>
              <td><%= order.name %></td>
              <td><%= order.no_of_guests %></td>
              <td><%= order.currency %> <%= order.net_price %></td>
              <td><%= order.created_at %></td>
              <td><%= order.status %></td>
            </tr>
            <% end %>
            </tbody>
          </table>

        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-6 -->
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Latest chefs
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="table-responsive">
          <%= will_paginate @chefs, :param_name => 'cpage' %>
          <table class="table">
            <thead>
            <tr>
              <th>Name</th>
              <th>Location</th>
            </tr>
            </thead>
            <tbody>
            <% @chefs.each do |chef|%>
            <tr>
              <td><%=chef.name%></td>
              <td><%=chef.location%></td>
            </tr>
            <% end %>
            </tbody>
          </table>

        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-6 -->
</div>

