<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :chef %><br>
    <%= f.select :chef, Chef.all.collect {|c| [ c.name, c.id ] }, hide_label: true %>
  </div>

  <div class="field">
    <%= f.label :menu %><br>
    <%= f.select :menu, Menu.all.collect {|m| [ m.name, m.id ] }, hide_label: true %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
    <div class="italic">Text will be shown exactly as entered. E.g. "24 junio 2015"</div>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
    <div class="italic">Text will be shown exactly as entered. E.g. "Lima"</div>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
    <div class="italic">Text will be shown exactly as entered with "por persona" added. E.g. "S./ 149" will be shown as "S./ 149 por persona"</div>
  </div>
  <div class="field">
    <%= f.label :persons %><br>
    <%= f.text_field :persons %>
    <div class="italic">Text will be shown exactly as entered. E.g. "6-14"</div>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, ['active', 'inactive'], hide_label: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
