<div class="cover">
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><span style="font-family:Handlee; color:#FFF">LoSibaritas</span></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
              <li><p class="navbar-text" style="color:#FFF"><strong><%=t :Greeting %>, <%=current_user.name%></strong></p></li>
              <li><%= link_to t(:Administration), welcome_index_path%></li>
              <li><%= link_to t(:LogOut), logout_path, method: "delete" %></li>
          <% else %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="color:#FFF"><%=t :IAmAChef %> <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to t(:SignUp), signup_path%></li>
                  <li><%= link_to t(:Login), login_path %></li>
                </ul>
              </li>

          <% end %>
          <li>
            <a href="#contact" style="color:#FFF"><%= t(:LContactUs)%></a>
          </li>
          <li>
            <a href="http://losibaritas.tumblr.com" target="new" style="color:#FFF">Blog</a>
          </li>
          <li>
            <a href="#team" style="color:#FFF"><%= t(:LTeam)%></a>
          </li>
          <li><%=link_to 'English', url_for( :locale => 'en' ), style: "color:#FFF"%></li>
          <li><%=link_to 'Castellano', url_for( :locale => 'es' ), style: "color:#FFF"%></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="cover-image" style="background-image : url('https://s3-sa-east-1.amazonaws.com/losibaritas/launchpage.jpg')"></div>
  <div class="container">
    <div id="carousel-example" class="carousel slide" data-ride="carousel" data-interval="5000">
      <div class="carousel-inner">
        <div class="item active">

          <!-- First event -->
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="row">
                <div class="col-md-12">
                  <div class="section">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12">
                          <h1 class="text-inverse">Jaime Pesaque <%= t(:LTitle)%></h1>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                          <a href="#signup"><img src="https://s3-sa-east-1.amazonaws.com/losibaritas/Jaime.jpg" class="img-circle img-responsive"></a>
                        </div>
                        <div class="col-md-4"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p class="text-inverse"><i class="fa fa-map-marker"></i> Lima - <i class="fa fa-calendar"></i> 24 junio 2015 - <i class="fa fa-money "></i> S./ 149 por persona</p>
              <br>
              <!--<%= link_to t(:MenuBookNow), event_path(1), class: 'btn btn-lg btn-primary', style: 'color:#FFF' %>-->
              <a href="#signup" class="btn btn-lg btn-primary" style="color:#FFF"><%=t(:SoldOut)%></a></div>
              <br>
            </div>
          </div>


        </div>
        <!-- Next event -->
        <!--
        <div class="item">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="row">
                <div class="col-md-12">
                  <div class="section">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12">
                          <h1 class="text-inverse">Jamie Oliver cooks in your home</h1>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                          <a href="#"><img src="https://s3-sa-east-1.amazonaws.com/losibaritas/jamieoliver.jpg" class="img-circle img-responsive"></a>
                        </div>
                        <div class="col-md-4"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p class="text-inverse"><i class="fa fa-map-marker"></i> San Francisco - <i class="fa fa-calendar"></i> 17 June 2015 - <i class="fa fa-money "></i> $99 per person</p>
              <br>

              <br>
            </div>
          </div>
        </div>
        -->

        <!-- Next event -->
        <!--
        <div class="item">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="row">
                <div class="col-md-12">
                  <div class="section">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12">
                          <h1 class="text-inverse">Arnaud Baloche cooks in your home</h1>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                          <a href="#"><img src="https://s3-sa-east-1.amazonaws.com/losibaritas/ArnaudBaloche.jpg" class="img-circle img-responsive"></a>
                        </div>
                        <div class="col-md-4"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p class="text-inverse"><i class="fa fa-map-marker"></i> San Francisco - <i class="fa fa-calendar"></i> 17 June 2015 - <i class="fa fa-money "></i> $99 per person</p>
              <br>

              <br>
            </div>
          </div>
        </div>
        -->

      </div>
      <a class="left carousel-control" href="#carousel-example" data-slide="prev"><i class="icon-prev  fa fa-angle-left"></i></a>
      <a class="right carousel-control" href="#carousel-example" data-slide="next"><i class="icon-next fa fa-angle-right"></i></a>
    </div>


  </div>
</div>


<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-primary"><%= t(:WhyLoSibaritasTitle)%></h1>
        <p><%= t(:WhyLoSibaritasExpl)%></p>
      </div>
      <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/x7E2yCU9YkU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-primary"><%=t(:HowDoesItWorkTitle)%></h1>
        <h3><%=t(:HowDoesItWorkExpl)%></h3>
        <p>
        <div class="well"><h4><%=t(:HowDoesItWorkReason1)%></h4></div>
        <div class="well"><h4><%=t(:HowDoesItWorkReason2)%></h4></div>
        <div class="well"><h4><%=t(:HowDoesItWorkReason3)%></h4></div>
        <div class="well"><h4><%=t(:HowDoesItWorkReason4)%></h4></div>
        <h3><%=t(:HowDoesItWorkFooter)%> <a href="#"><%=t(:HowDoesItWorkFooterLink)%></a></h3>
        </p>
      </div>
    </div>
  </div>
</div>

<a name="team"></a>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="text-primary"><%= t(:LTeam)%></h2>
        <h3><%=t(:LCountries)%> <strong><%=t(:LVision)%></strong></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <img src="https://s3-sa-east-1.amazonaws.com/losibaritas/team.jpg" class="img-responsive img-rounded">
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-5">
        <table class="table">
          <tr>
            <td>Andrea Barone</h4></td>
            <td>Italia</p></td>
            <td><a href="https://twitter.com/andreabarone89"><i class="fa fa-twitter"></i></a></td>
            <td><a href="https://www.facebook.com/andrea.barone.94651"><i class="fa fa-facebook"></i></a></td>
            <td><a href="https://uk.linkedin.com/in/andreabarone1989"><i class="fa fa-linkedin"></i></a></td>
          </tr>
          <tr>
            <td>Arnaud Baloche</h4></td>
            <td><%= t(:France)%></p></td>
            <td><a href="https://twitter.com/ArnaudBaloche"><i class="fa fa-twitter"></i></a></td>
            <td><a href="https://www.facebook.com/arnaud.baloche.1"><i class="fa fa-facebook"></i></a></td>
            <td><a href="https://uk.linkedin.com/in/arnaudbaloche"><i class="fa fa-linkedin"></i></a></td>
          </tr>
          <tr>
            <td>Fernando Balart</h4></td>
            <td>Chile</p></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Janina Vargas</h4></td>
            <td>Ecuador</p></td>
            <td></td>
            <td><a href="https://www.facebook.com/janina.vargas.3"><i class="fa fa-facebook"></i></a></td>
            <td><a href="http://uk.linkedin.com/in/jvargas89/en"><i class="fa fa-linkedin"></i></a></td>
          </tr>
        </table>
      </div>
      <div class="col-lg-5">
        <table class="table">
          <tr>
            <td>Kai Zimmer</h4></td>
            <td><%= t(:Germany)%></p></td>
            <td><a href="https://twitter.com/Zimmer2020"><i class="fa fa-twitter"></i></a></td>
            <td><a href="https://www.facebook.com/kai.zimmer"><i class="fa fa-facebook"></i></a></td>
            <td><a href="https://uk.linkedin.com/in/zimmerkai"><i class="fa fa-linkedin"></i></a></td>
          </tr>
          <tr>
            <td>Raul Otero</h4></td>
            <td>Perú</p></td>
            <td><a href="https://twitter.com/RaulOteroR"><i class="fa fa-twitter"></i></a></td>
            <td><a href="https://www.facebook.com/raul.otero.9277"><i class="fa fa-facebook"></i></a></td>
            <td><a href="https://pe.linkedin.com/in/raulotero"><i class="fa fa-linkedin"></i></a></td>
          </tr>
          <tr>
            <td>Ricardo Rodrigues</h4></td>
            <td>Portugal</p></td>
            <td><a href="https://twitter.com/ricardopresa"><i class="fa fa-twitter"></i></a></td>
            <td><a href="https://uk.linkedin.com/in/ricardopresarodrigues"><i class="fa fa-linkedin"></i></a></td>
          </tr>
        </table>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</div>

<a name="contact"></a>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-primary text-center"><%= t(:LContactUs)%></h1>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-1"></div>
      <div class="col-md-2 text-center">
        <a href="https://instagram.com/losibaritas"><i class="fa fa-5x fa-fw fa-instagram"></i></a>
      </div>
      <div class="col-md-2">
        <a href="https://twitter.com/losibaritas"><i class="fa fa-5x fa-fw fa-twitter"></i></a>
      </div>
      <div class="col-md-2">
        <a href="https://www.facebook.com/losibaritas"><i class="fa fa-5x fa-fw fa-facebook"></i></a>
      </div>
      <div class="col-md-2">
        <a href="http://losibaritas.tumblr.com/"><i class="fa fa-5x fa-fw fa-tumblr"></i></a>
      </div>
      <div class="col-md-2 text-center">
        <a href="mailto:sibaritas.chefs@gmail.com"><i class="fa fa-5x fa-fw hub fa-envelope-o"></i></a>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>

<a name="signup"></a>
<div class="section">
  <div class="container">
    <div class="col-md-12">
      <h1 class="text-primary text-center"><%= t(:LKeepUpdated)%></h1>
      <h3 class="text-center"><%= t(:LLeaveYourMail)%></h3>
    </div>
  </div>
  <div class="row text-center">
      <div class="col-md-12">
        <div class="col-md-4"></div>
        <div class="col-md-4 center-block">
        <%= bootstrap_form_for :subscriber, url: subscribers_path do |f| %>
            <div>
              <%= f.text_field :email, :class => 'form-control' %>
              <%= f.submit t(:SignUp), class: 'btn btn-success' %>
            </div>
        <% end %>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</div>