<div class="cover">
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><span style="font-family:Handlee; color:#FFF">LoSibaritas</span></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-right">

          <li>
            <a href="#contact" style="color:#FFF"><%= t(:LContactUs)%></a>
          </li>
          <li>
            <a href="http://losibaritas.tumblr.com" target="new" style="color:#FFF">Blog</a>
          </li>

          <li><%=link_to 'English', url_for( :locale => 'en' ), style: "color:#FFF"%></li>
          <li><%=link_to 'Castellano', url_for( :locale => 'es' ), style: "color:#FFF"%></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="cover-image" style="background-image : url('https://s3-sa-east-1.amazonaws.com/losibaritas/launchpage.jpg')"></div>
  <div class="container">
    <div id="carousel-example" class="carousel slide" data-ride="carousel" data-interval="15000">
      <div class="carousel-inner">
        <% @events.each_with_index do |event, index| %>

            <% if index==0%><div class="item active"><% end %>
            <% if index!=0%><div class="item"><% end %>
          <!-- First event -->
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="row">
                <div class="col-md-12">
                  <div class="section">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12">
                          <h1 class="text-inverse"><%=Chef.find(event.chef).name%> <%= t(:LTitle)%></h1>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                          <% if event.status == 'active' %>
                              <a href="<%=event_path(event)%>"><img src="<%=Chef.find(event.chef).picture%>" class="img-circle img-responsive"></a>
                          <% end %>
                          <% if event.status == 'sold_out' %>
                              <a href="#signup"><img src="<%=Chef.find(event.chef).picture%>" class="img-circle img-responsive"></a>
                          <% end %>

                        </div>
                        <div class="col-md-4"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p class="text-inverse"><i class="fa fa-map-marker"></i> <%=event.location%> - <i class="fa fa-calendar"></i> <%=event.date%> - <i class="fa fa-money "></i> <%=event.price%> por persona</p>
              <br>
              <% if event.status == 'active' %>
              <%= link_to t(:MenuBookNow), event_path(event), class: 'btn btn-lg btn-primary', style: 'color:#FFF' %>
              <% end %>

              <% if event.status == 'sold_out' %>
              <a href="#signup" class="btn btn-lg btn-primary" style="color:#FFF"><%=t(:SoldOut)%></a>
              <% end %>
             </div>
              <br>
            </div>
          </div>

        <% end %>


      </div>
      <a class="left carousel-control" href="#carousel-example" data-slide="prev"><i class="icon-prev  fa fa-angle-left"></i></a>
      <a class="right carousel-control" href="#carousel-example" data-slide="next"><i class="icon-next fa fa-angle-right"></i></a>
    </div>


  </div>
</div>


<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-primary"><%= t(:WhyLoSibaritasTitle)%></h1>
        <p><%= t(:WhyLoSibaritasExpl)%></p>
      </div>
      <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/e-gCXSLQ1XQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-primary"><%=t(:HowDoesItWorkTitle)%></h1>
        <h3><%=t(:HowDoesItWorkExpl)%></h3>
        <p>
        <div class="well"><h4><%=t(:HowDoesItWorkReason1)%></h4></div>
        <div class="well"><h4><%=t(:HowDoesItWorkReason2)%></h4></div>
        <div class="well"><h4><%=t(:HowDoesItWorkReason3)%></h4></div>
        <div class="well"><h4><%=t(:HowDoesItWorkReason4)%></h4></div>
        <h3><%=t(:HowDoesItWorkFooter)%> <a href="#"><%=t(:HowDoesItWorkFooterLink)%></a></h3>
        </p>
      </div>
    </div>
  </div>
</div>



<a name="contact"></a>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-primary text-center"><%= t(:LContactUs)%></h1>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-1"></div>
      <div class="col-md-2 text-center">
        <a href="https://instagram.com/losibaritas"><i class="fa fa-5x fa-fw fa-instagram"></i></a>
      </div>
      <div class="col-md-2">
        <a href="https://twitter.com/losibaritas"><i class="fa fa-5x fa-fw fa-twitter"></i></a>
      </div>
      <div class="col-md-2">
        <a href="https://www.facebook.com/losibaritas"><i class="fa fa-5x fa-fw fa-facebook"></i></a>
      </div>
      <div class="col-md-2">
        <a href="http://losibaritas.tumblr.com/"><i class="fa fa-5x fa-fw fa-tumblr"></i></a>
      </div>
      <div class="col-md-2 text-center">
        <a href="mailto:team@losibaritas.com"><i class="fa fa-5x fa-fw hub fa-envelope-o"></i></a>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>

<a name="signup"></a>
<div class="section">
  <div class="container">
    <div class="col-md-12">
      <h1 class="text-primary text-center"><%= t(:LKeepUpdated)%></h1>
      <h3 class="text-center"><%= t(:LLeaveYourMail)%></h3>
    </div>
  </div>
  <div class="row text-center">
      <div class="col-md-12">
        <div class="col-md-4"></div>
        <div class="col-md-4 center-block">
        <%= bootstrap_form_for :subscriber, url: subscribers_path do |f| %>
            <div>
              <%= f.text_field :email, :class => 'form-control' %>
              <%= f.submit t(:SignUp), class: 'btn btn-success' %>
            </div>
        <% end %>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</div>