<h1>Orders overview</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Order Date</th>
    <th>Number of guests</th>
    <th>Net Price</th>
    <th colspan="4">Actions</th>
  </tr>

  <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.created_at %></td>
        <td><%= order.no_of_guests%></td>
        <td><%=order.currency%> <%= order.net_price %></td>
        <td><%= link_to 'Details', order_path(order) %></td>
        <td><%= link_to 'Delete', order_path(order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>