<div class="row">
  <h3><i class="fa fa-cart-plus"></i><%=t :PendingOrders%></h3>
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="<%= welcome_index_path %>"><i class="fa fa-tachometer"></i> <%=t :Dashboard %></a></li>
    <li role="presentation"><a href="<%= edit_user_path(current_user) %>"><i class="fa fa-user"></i> <%=t :AccountSettings %></a></li>
    <li role="presentation"><a href="<%= edit_chef_path(@chef) %>"><i class="fa fa-street-view"></i> <%=t :ManageYourProfile %></a></li>
    <li role="presentation"><a href="<%= chef_menus_path(@chef) %>"><i class="fa fa-cutlery"></i> <%=t :ManageYourMenus %></a></li>
    <li role="presentation" class="active"><a href="<%= pending_path %>"><i class="fa fa-cart-plus"></i> <%=t :PendingOrders %></a></li>
    <li role="presentation"><a href="<%= overview_path %>"><i class="fa fa-shopping-cart"></i> <%=t :OrderOverview %></a></li>
  </ul>
</div>

<div class="row">
  <p></p>
  <div class="alert alert-info " role="alert">
    <strong><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      <%=t :PendingOrdersMsg %></strong>
  </div>
</div>

<div class="row">
  <%= will_paginate %>
<table class="table table-striped">
  <tr>
    <th><%=t :PendingOrdersName %></th>
    <th><%=t :PendingOrdersGuests %></th>
    <th><%=t :PendingOrdersAmount %></th>
    <th><%=t :PendingOrdersOrderDate %> </th>
    <th><%=t :PendingOrdersEventDate %></th>
    <th><%=t :PendingOrdersStatus %></th>
    <th colspan="3"><%=t :Actions %></th>
  </tr>

  <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.no_of_guests %></td>
        <td><%= order.currency %> <%= order.net_price %></td>
        <td><%= order.created_at %></td>
        <td><%= order.cook_date %></td>
        <td><%= order.status %></td>
        <td><%= link_to t(:Details), order_path(order), target: 'blank' %></td>
        <td><%= link_to t(:PendingOrdersAccept), orders_accept_path(:orderid => order.id) %></td>
        <td><%= link_to t(:PendingOrdersDecline), orders_decline_path(:orderid => order.id), data: { confirm: t(:DeleteMsg) } %></td>
      </tr>


  <% end %>
</table>
  <%= will_paginate %>
</div>

