<!-- Full Width Image Header with Logo -->
<!-- Image backgrounds are set within the full-width-pics.css file. -->
<div class="row">
<div class="col-lg-12">
  <h3>
  <% if(!session[:admin]) %>
   <div class="alert alert-success" role="alert">
    <strong><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
      <%= t(:OrderProcessedMessage)%> <%=@order.currency%> <%=@order.net_price%><br>
      <%=t :OrderConfirmationMessage %></strong>
  </div>
  <% end %>

  <% if(session[:admin]) %>
        <div class="alert alert-info" role="alert">
          <strong><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
            <%=t :OrderCustomerReviewMsg %></strong>
        </div>
    <% end %>
  </h3>
  </div>
</div>

<header class="image-bg-fluid-height">
  <img class="img-responsive img-center img-circle" src="<%= @menu.chef.picture %>" alt="">
</header>

<!-- Content Section -->
<!--
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="section-heading"><%=t :OrderConfirmationMenu %></h1>
        <p class="lead section-lead">
        <table class="table table-striped">
          <tr>
            <td><%=t :OrderName %>:</td>
            <td><%= @menu.name %></td>
          </tr>
          <tr>
            <td><%=t :OrderChefName %>:</td>
            <td><%= @menu.chef.name %></td>
          </tr>
          <tr>
            <td><%=t :OrderNoOfGuests %>:</td>
            <td><%= @order.no_of_guests %></td>
          </tr>
          <tr>
            <td><%=t :OrderMenuPrice %>:</td>
            <td><%=@order.currency%> <%= @menu.price %></td>
          </tr>
          <tr>
            <td><%=t :OrderNetPrice %>:</td>
            <td><%=@order.currency%> <%= @order.net_price %></td>
          </tr>
        </table>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h1 class="section-heading"><%=t :OrderConfirmationDateTime %></h1>
        <p class="lead section-lead">
        <table class="table table-striped">
          <tr>
            <td><%=t :OrderCookLocation %>:</td>
            <td><%= @order.cook_location %></td>
          </tr>
          <tr>
            <td><%=t :OrderCookDate %>:</td>
            <td><%= @order.cook_date.to_time.strftime('%e %B %Y') %></td>
          </tr>
        </table>
        </p>
      </div>
    </div>
-->

    <!-- /.row -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="section-heading"><%=t :OrderConfirmationAddressBilling %></h1>
        <p class="lead section-lead">
        <table class="table table-striped">
          <tr>
            <td><%=t :OrderName %></td>
            <td><%= @order.name %></td>
          </tr>
          <tr>
            <td><%=t :OrderEMail %></td>
            <td><%= @order.email %></td>
          </tr>
          <tr>
            <td><%=t :OrderPhone %></td>
            <td><%= @order.phone %></td>
          </tr>
          <tr>
            <td><%=t :OrderStreet %></td>
            <td><%= @order.street %></td>
          </tr>
          <tr>
            <td><%=t :OrderCity %></td>
            <td><%= @order.city %></td>
          </tr>
          <tr>
            <td><%=t :OrderPostalcode %></td>
            <td><%= @order.postalcode %></td>
          </tr>
          <tr>
            <td><%=t :OrderCountry %></td>
            <td><%= @order.country %></td>
          </tr>
        </table>
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->






