

<!-- Full Width Image Header -->
<header class="header-image">
  <div class="headline">
    <div class="container">
      <h2 style="font-family: 'Handlee'">LoSibaritas</h2>
      <p><strong><i><%=t :quote %></i></strong></p>



      <%= bootstrap_form_for :search, url: searches_path, layout: :inline do |f| %>
            <%= f.hidden_field :cook_location, :value => "Perú" %>
            <%= f.hidden_field :cook_date, :value => "23.08.2015" %>
            <%= f.hidden_field :cook_time, :value => "19:09" %>
          <%= f.hidden_field :sort, :value => "name" %>
            <%= f.submit I18n.t :searchsubmit, class: 'btn btn-primary' %>
        <% end %>

    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container">

  <hr class="featurette-divider">

  <!-- First Featurette -->
  <div class="featurette" id="about">
    <img class="featurette-image img-circle img-responsive pull-right" src="https://s3-sa-east-1.amazonaws.com/losibaritas/background1.jpg">
    <h2 class="featurette-heading"><%=t :WhyLoSibaritasTitle %></span>
    </h2>
    <p class="lead"><%=t :WhyLoSibaritasExpl %></p>
  </div>

  <hr class="featurette-divider">

  <!-- Second Featurette -->
  <div class="featurette" id="services">
    <img class="featurette-image img-circle img-responsive pull-left" src="https://s3-sa-east-1.amazonaws.com/losibaritas/background2.jpg">
    <h2 class="featurette-heading"><%=t :HowDoesItWorkTitle %></span>
    </h2>
    <p class="lead"><%=t :HowDoesItWorkExpl %><br>
    <ul>
      <li><%=t :HowDoesItWorkReason1 %></li>
      <li><%=t :HowDoesItWorkReason2 %></li>
      <li><%=t :HowDoesItWorkReason3 %></li>
      <li><%=t :HowDoesItWorkReason4 %></li>
    </ul></p>
  </div>

  <hr class="featurette-divider">

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; LoSibaritas 2015</p>
      </div>
    </div>
  </footer>

</div>
<!-- /.container -->