
<div class="cover">
  <div class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand navbar-brand-left" href="#"><span style="font-family:Handlee; color:#FFF">LoSibaritas</span></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-right">

          <li><%= link_to t(:IAmAChef), cheflanding_path, style: 'color:#FFF'%></li>
          <li><a href="#howdoesitwork" style="color:#FFF"><%=t(:HowDoesItWorkTitle)%></a></li>
          <li><a href="#signup" style="color:#FFF"><%=t(:SignUp)%></a></li>

          <li>
            <a href="http://losibaritas.tumblr.com" target="new" style="color:#FFF">Blog</a>
          </li>
          <li><%=link_to 'English', url_for( :locale => 'en' ), style: "color:#FFF"%></li>
          <li><%=link_to 'Castellano', url_for( :locale => 'es' ), style: "color:#FFF"%></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="cover-image" style="background-image : url('https://s3-sa-east-1.amazonaws.com/losibaritas/background99.jpg')"></div>
  <div class="container">

    <div class="section">
      <div class="container">
        <div class="col-md-12">
          <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
          <h1 class="text-center"><span style="font-family:Handlee; color:#FFF">LoSibaritas</span></h1>
          <h2 class="text-center" style="color:#FFFFFF; background-color: #000000; opacity: 0.8">Reserva un chef privado y disfruta en tu casa</h2>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-12">
          <div class="col-md-3"></div>
          <div class="col-md-6 center-block">


      <%= bootstrap_form_for :search, url: searches_path, layout: :inline do |f| %>
          <%= f.hidden_field :cook_location, :value => "1"%>

          <%= f.hidden_field :cook_time, :value => "enero"%>
          <%= f.hidden_field :cook_time, :value => "2015" %>

          <%= f.hidden_field :sort, :value => "name" %>
                <%= f.submit t(:searchsubmit), class: 'btn btn-xl btn-success' %>
      <% end %>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
      <div class="row text-center">
        <p></p>
      </div>
      <div class="row text-center">
        <p></p>
      </div>
      <div class="row text-center">
        <p></p>
      </div>
      <div class="row text-center">
        <p><a href="#howdoesitwork" class="btn btn-primary btn-xl" style="color:#FFF"><%=t(:HowDoesItWorkTitle)%></a></p>
      </div>
    </div>
  </div>

</div>




  <a name="howdoesitwork"></a>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-primary"><%= t(:WhyLoSibaritasTitle)%></h1>
        </div>
      </div>
      <div class="row">

        <div class="col-md-12">
          <img src="//s3-sa-east-1.amazonaws.com/losibaritas/Diapositiva2.png" class="img img-responsive">
        </div>

      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/e-gCXSLQ1XQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-primary"><%=t(:HowDoesItWorkTitle)%></h1>
          <h3><%=t(:HowDoesItWorkExpl)%></h3>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 center">
            <img src="//s3-sa-east-1.amazonaws.com/losibaritas/process1.png" class="img img-responsive">
            <img src="//s3-sa-east-1.amazonaws.com/losibaritas/process2.png" class="img img-responsive">
            <img src="//s3-sa-east-1.amazonaws.com/losibaritas/process3.png" class="img img-responsive">
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row">
          <h3><%=t(:HowDoesItWorkFooter)%> <a href="#"><%=t(:HowDoesItWorkFooterLink)%></a></h3>
          </div>

        </div>
      </div>
    </div>
  </div>



  <a name="contact"></a>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-primary text-center"><%= t(:LContactUs)%></h1>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-1"></div>
        <div class="col-md-2 text-center">
          <a href="https://instagram.com/losibaritas"><i class="fa fa-5x fa-fw fa-instagram"></i></a>
        </div>
        <div class="col-md-2">
          <a href="https://twitter.com/losibaritas"><i class="fa fa-5x fa-fw fa-twitter"></i></a>
        </div>
        <div class="col-md-2">
          <a href="https://www.facebook.com/losibaritas"><i class="fa fa-5x fa-fw fa-facebook"></i></a>
        </div>
        <div class="col-md-2">
          <a href="http://losibaritas.tumblr.com/"><i class="fa fa-5x fa-fw fa-tumblr"></i></a>
        </div>
        <div class="col-md-2 text-center">
          <a href="mailto:team@losibaritas.com"><i class="fa fa-5x fa-fw hub fa-envelope-o"></i></a>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>

  <a name="signup"></a>
  <div class="section">
    <div class="container">
      <div class="col-md-12">
        <h1 class="text-primary text-center"><%= t(:LKeepUpdated)%></h1>
        <h3 class="text-center"><%= t(:LLeaveYourMail)%></h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-12">
        <div class="col-md-4"></div>
        <div class="col-md-4 center-block">
          <%= bootstrap_form_for :subscriber, url: subscribers_path do |f| %>
              <div>
                <%= f.text_field :email, :class => 'form-control' %>
                <%= f.hidden_field :clienttype, :value => "customer" %>

                <%= f.submit t(:SignUp), class: 'btn btn-success' %>
              </div>
          <% end %>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</div>













