<div class="container">
  <div class="row">
<p class="well">
  <%= link_to 'New Search', searches_ask_path, class: 'btn btn-primary' %>
    You were looking for a chef in <strong><%= @search.cook_location %></strong> on
    <strong><%= @search.cook_date.to_time.strftime('%e %B %Y')%></strong> at <strong><%= @search.cook_time.to_time.strftime('%H:%M') %></strong>:
We found a total of <strong><%= @menus.count %> menus </strong>matching your tastes.</p>
</div>

  <div class="row">

    <!-- Search filter -->
    <div class="col-lg-3">

      <!-- General filters -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Refine your search</h3>
        </div>
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked">
            <!-- Filter Location -->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Location <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Perú", :search_location => "Perú", :search_date => @search.cook_date, :search_time => @search.cook_time %></li>
                <li><%= link_to "France", :search_location => "France", :search_date => @search.cook_date, :search_time => @search.cook_time %></li>
                <li><%= link_to "United Kingdom", :search_location => "United Kingdom", :search_date => @search.cook_date, :search_time => @search.cook_time %></li>
              </ul>
            </li>

            <!-- Filter Price -->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Max. Price <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Any Price", :max_price => "99999", :search_location => @search.cook_location, :search_date => @search.cook_date, :search_time => @search.cook_time %></li>
                <li><%= link_to "100", :max_price => "100", :search_location => @search.cook_location, :search_date => @search.cook_date, :search_time => @search.cook_time %></li>
                <li><%= link_to "50", :max_price => "50", :search_location => @search.cook_location, :search_date => @search.cook_date, :search_time => @search.cook_time %></li>
                <li><%= link_to "20", :max_price => "20", :search_location => @search.cook_location, :search_date => @search.cook_date, :search_time => @search.cook_time %></li>
              </ul>
            </li>

            <!-- Filter cuisine
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Select cuisine <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Thai</a></li>
                <li><a href="#">Peruvian</a></li>
                <li><a href="#">French</a></li>
              </ul>
            </li>-->
          </ul>
        </div>
      </div>

      <!-- Sorting -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Sorting</h3>
        </div>
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked">
            <li><%= link_to "Sort by price", :sort=>"price", :search_location => @search.cook_location, :search_date => @search.cook_date, :search_time => @search.cook_time %></li>
            <li><%= link_to "Sort by name", :sort=>"name", :search_location => @search.cook_location, :search_date => @search.cook_date, :search_time => @search.cook_time %></li>
          </ul>
        </div>
      </div>



    </div>

    <!-- Search results -->
    <div class="col-lg-9">
<% @menus.each do |menu| %>

      <div class="col-sm-6 col-md-4">
        <div class="panel panel-default panel-card">
          <div class="panel-heading">
            <img src="<%=menu.photo1%>" />
            <button class="btn btn-primary btn-sm" role="button"><%=menu.currency%> <%=menu.price%></button>
          </div>
          <div class="panel-figure">
            <img class="img-responsive img-circle" src="<%=menu.chef.picture%>" />
          </div>
          <div class="panel-body text-center">
            <h4 class="panel-header"><%= link_to chef_menu_path(menu.chef, menu) do %><%=menu.name%><% end %></h4>
            <small>by <%= link_to chef_path(menu.chef) do %><%=menu.chef.name%><% end %></small>
            <p><%= menu.description[0,150] %></p>
            <%= link_to 'Chef Infos', chef_path(menu.chef), class: 'btn btn-primary' %>
            <%= link_to 'Menu Infos', chef_menu_path(menu.chef, menu), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
<% end %>
  </div>
  </div>
</div>

