<div class="container hidden-sm visible-lg visible-md">
  <div class="row">
<p></p>
</div>

  <div class="row">

    <!-- Search filter -->
    <div class="col-lg-3 hidden-md hidden-sm">

      <!-- General filters -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%=t :RefineYourSearch %></h3>
        </div>
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked">

            <!-- Filter Price -->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <%=t :MaxPrice%> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to t(:AnyPrice), :max_price => "99999", :cuisine_type => @search.cuisine_type, :search_location => @search.cook_location, :search_date => @search.cook_date, :search_time => @search.cook_time %></li>
                <li class="divider"></li>
                <li><%= link_to "250", :max_price => "250",  :cuisine_type => @search.cuisine_type, :search_location => @search.cook_location, :search_date => @search.cook_date, :search_time => @search.cook_time %></li>
                <li><%= link_to "200", :max_price => "200",  :cuisine_type => @search.cuisine_type, :search_location => @search.cook_location, :search_date => @search.cook_date, :search_time => @search.cook_time %></li>
                <li><%= link_to "150", :max_price => "150",  :cuisine_type => @search.cuisine_type, :search_location => @search.cook_location, :search_date => @search.cook_date, :search_time => @search.cook_time %></li>
                <li><%= link_to "100", :max_price => "100",  :cuisine_type => @search.cuisine_type, :search_location => @search.cook_location, :search_date => @search.cook_date, :search_time => @search.cook_time %></li>
                <li><%= link_to "50", :max_price => "50",  :cuisine_type => @search.cuisine_type, :search_location => @search.cook_location, :search_date => @search.cook_date, :search_time => @search.cook_time %></li>
                <li><%= link_to "20", :max_price => "20", :cuisine_type => @search.cuisine_type,  :search_location => @search.cook_location, :search_date => @search.cook_date, :search_time => @search.cook_time %></li>
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <%=t :SelectCuisine %> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to t(:AnyCuisine), :max_price => @search.max_price, :search_location => @search.cook_location, :search_date => @search.cook_date, :search_time => @search.cook_time %></li>
                <li class="divider"></li>
                <li><%= link_to t(:Italian), :cuisine_type => "cuisine_argentinian", :max_price => @search.max_price, :search_location => @search.cook_location, :search_date => @search.cook_date, :search_time => @search.cook_time %></li>
                <li><%= link_to t(:Anticuchos), :cuisine_type => "cuisine_anticuchos", :max_price => @search.max_price, :search_location => @search.cook_location, :search_date => @search.cook_date, :search_time => @search.cook_time %></li>
                <li><%= link_to t(:Patisserie), :cuisine_type => "cuisine_patisserie", :max_price => @search.max_price, :search_location => @search.cook_location, :search_date => @search.cook_date, :search_time => @search.cook_time %></li>
                <li><%= link_to t(:Exotic), :cuisine_type => "cuisine_exotic", :max_price => @search.max_price, :search_location => @search.cook_location, :search_date => @search.cook_date, :search_time => @search.cook_time %></li>
                <li><%= link_to t(:German), :cuisine_type => "cuisine_german", :max_price => @search.max_price, :search_location => @search.cook_location, :search_date => @search.cook_date, :search_time => @search.cook_time %></li>
                <li><%= link_to t(:Brazilian), :cuisine_type => "cuisine_brazilian", :max_price => @search.max_price, :search_location => @search.cook_location, :search_date => @search.cook_date, :search_time => @search.cook_time %></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <!-- Sorting -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%=t :Sorting%></h3>
        </div>
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked">
            <li><%= link_to t(:SortByPrice), :sort=>"price", :search_location => @search.cook_location, :search_date => @search.cook_date, :search_time => @search.cook_time %></li>
            <li><%= link_to t(:SortByName), :sort=>"name", :search_location => @search.cook_location, :search_date => @search.cook_date, :search_time => @search.cook_time %></li>
          </ul>
        </div>
      </div>



    </div>

    <!-- Search results -->
    <div class="col-lg-9">
<% @menus.each do |menu| %>

      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="panel panel-default panel-card">
          <div class="panel-heading">
            <img src="<%=menu.photo1%>" />
            <button class="btn btn-primary btn-sm" role="button">
              <%if menu.currency=="PEN"%>
                S/.
              <% end %>
              <%if menu.currency !="PEN"%>
                <%=menu.currency%>
              <% end %>
              <%=menu.price%></button>
          </div>
          <div class="panel-figure">
            <img class="img-responsive img-circle" src="<%=menu.chef.picture%>" />
          </div>
          <div class="panel-body text-center">
            <div class="visible-sm hidden-md hidden-lg"><h1><%= link_to chef_menu_path(menu.chef, menu) do %><%=menu.name%><% end %></h1></div>
            <h4 class="panel-header hidden-sm"><%= link_to chef_menu_path(menu.chef, menu) do %><%=menu.name%><% end %></h4>
            <small class="hidden-sm"><%=t :by %> <%= link_to chef_path(menu.chef) do %><%=menu.chef.name%><% end %></small>
            <div class="visible sm hidden-md hidden-lg"><h2><%=t :by %> <%= link_to chef_path(menu.chef) do %><%=menu.chef.name%><% end %></h2></div>
            <p><%= menu.description[0,100] %></p>
            <p><%= link_to 'El Chef', chef_path(menu.chef), class: 'btn btn-primary' %></p>
            <p><%= link_to 'El Menú', chef_menu_path(menu.chef, menu), class: 'btn btn-primary' %></p>
          </div>
        </div>
      </div>
<% end %>
      <% if @menus.count == 0 %>
      <h1>:(</h1>
          <h2><%=t :NoSearchResults %>></h2>
      <% end %>
  </div>
  </div>
</div>

<div class="container hidden-md hidden-lg visible-xs visible-sm">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="instagram-content">
        <h1 class="text-center">Menus disponibles</h1>
        <div class="row photos-wrap">
          <!-- Instafeed target div -->
          <div id="instafeed"></div>
          <!-- The following HTML will be our template inside instafeed -->
          <% @menus.each do |menu| %>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
            <div class="photo-box">
              <div class="image-wrap">
                <a href="<%=chef_menu_path(menu.chef, menu)%>"><img src="<%=menu.photo1%>"></a>
              </div>
              <div class="panel-body text-center">
                <div class="visible-sm hidden-md hidden-lg"><h1><%= link_to chef_menu_path(menu.chef, menu) do %><%=menu.name%><% end %></h1></div>
                <div class="visible sm hidden-md hidden-lg"><h2><%=t :by %> <%= link_to chef_path(menu.chef) do %><%=menu.chef.name%><% end %></h2></div>
                <p><%= menu.description[0,100] %></p>
                <p><%= link_to 'El Chef', chef_path(menu.chef), class: 'btn btn-primary btn-lg' %> <%= link_to 'El Menú', chef_menu_path(menu.chef, menu), class: 'btn btn-primary btn-lg' %></p>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


