<h1>Courses for menu: <%= @menu.name %></h1>
<p>
<%= link_to 'Back', chef_menus_path, class: 'btn btn-primary' %>
<%= link_to 'Add course', new_chef_menu_course_path(@menu.chef_id, @menu), class: 'btn btn-success' %>
</p>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th>Description</th>
    <th colspan="3">Actions</th>
  </tr>
  <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.position %></td>
        <td><%= course.description %>
        <td><%= link_to 'Details', chef_menu_course_path(@menu.chef_id, @menu, course) %></td>
        <td><%= link_to 'Edit', edit_chef_menu_course_path(@menu.chef_id, @menu, course) %></td>
        <td><%= link_to 'Delete', chef_menu_course_path(@menu.chef_id, @menu, course), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

