<h1>Courses of menu <%= @menu.name %></h1>
<%= link_to 'Back', chef_menus_path %> |
<%= link_to 'Add course', new_chef_menu_course_path(@menu.chef_id, @menu) %>
<table>
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th>Description</th>
  </tr>
  <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.position %></td>
        <td><%= course.description %>
        <td><%= link_to 'Details', chef_menu_course_path(@menu.chef_id, @menu, course) %></td>
        <td><%= link_to 'Edit', edit_chef_menu_course_path(@menu.chef_id, @menu, course) %></td>
        <td><%= link_to 'Delete', chef_menu_course_path(@menu.chef_id, @menu, course), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

