<h1>Courses of menu </h1>
<%= link_to 'Add course', new_course_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th>Description</th>
  </tr>
  <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.position %></td>
        <td><%= course.description %></td>
        <td><%= link_to 'Delete', course_path(course), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

