<% if(session[:admin]) %>
    <div class="row">
      <h3><i class="fa fa-street-view"></i> Manage your menus</h3>
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="<%= welcome_index_path %>"><i class="fa fa-tachometer"></i> <%=t :Dashboard %></a></li>
        <li role="presentation"><a href="<%= edit_user_path(current_user) %>"><i class="fa fa-user"></i> <%=t :AccountSettings %></a></li>
        <li role="presentation"><a href="<%= edit_chef_path(@menu.chef) %>"><i class="fa fa-street-view"></i> <%=t :ManageYourProfile %></a></li>
        <li role="presentation" class="active"><a href="<%= chef_menus_path(@menu.chef) %>"><i class="fa fa-cutlery"></i> <%=t :ManageYourMenus %></a></li>
        <li role="presentation"><a href="<%= pending_path %>"><i class="fa fa-cart-plus"></i> <%=t :PendingOrders %></a></li>
        <li role="presentation"><a href="<%= overview_path %>"><i class="fa fa-shopping-cart"></i> <%=t :OrderOverview %></a></li>
      </ul>
    </div>
<% end %>

<h1><%=t :AdminAddCourse %></h1>

<%= bootstrap_form_for :course, url: chef_menu_courses_path do |f| %>

    <% if @course.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <%= pluralize(@course.errors.count, "error") %> prohibited
          this chef from being saved:
          <ul>
            <% @course.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label t(:AdminCourseName)%>
      <%= f.text_field :name, :class => 'form-control', hide_label: true %>
    </div>

    <div class="form-group">
      <%= f.label t(:AdminCourseType)%>
      <%= f.text_field :course_type, :class => 'form-control', hide_label: true %>
    </div>

    <div class="form-group">
      <%= f.label t(:AdminCoursePosition)%>
      <%= f.text_field :position, :class => 'form-control', hide_label: true %>
    </div>

    <div class="form-group">
      <%= f.label t(:AdminCourseDescription)%>
      <%= f.text_area :description, :class => 'form-control', hide_label: true %>
    </div>

    <div class="form-group">
      <%= link_to t(:back), chef_menu_courses_path, class: "btn btn-primary" %>
      <%= f.submit class: "btn btn-success" %>
    </div>
<% end %>
