<%= form_tag charges_path, :method => :post do %>
    <div class="row">
        <div class=""col-md-12>

        <h3 class="center"><%=t(:Dear)%> <%=@order.name%>,<br>
          <%=t(:ChargePart1)%> <%=@order.cook_date%> <%=t(:ChargePart2)%>
          <%if @order.currency == 'PEN'%>S/.<%end%>
          <%if @order.currency != 'PEN'%><%=@order.currency%><%end%>
          <%= @order.net_price %>0 <%=t(:ChargePart3)%><br>

          <%=t(:ChargePart4)%></h3>
          <input name="order_id" value="<%=@order.id%>" type="hidden"/>
        </div>

    </div>


    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Your order"
            data-currency="<%=@order.currency%>"
            data-amount="<%= @order.net_price * 100%>">

    </script>

<% end %>

<p></p>
