<!-- app/views/layouts/application.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>LoSibaritas - Prototype</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>

</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "LoSibaritas", searches_ask_path, class: "navbar-brand", style: "font-family: 'Handlee'" %>
    </div>
    <!--Locale switch-->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

          <li><%=link_to 'English', params.merge( locale: "en" )%></li>
          <li><%=link_to 'Castellano', params.merge( locale: "es" )%></li>

      </ul>
    </div>
  </div>
</nav>


<div id="main-container" class="container">

  <div class="row">
    <div class="col-xs-12">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
