<!DOCTYPE html>
<html>

<head>
  <title>LoSibaritas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='//fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '519779078184970');
    fbq('track', "PageView");</script>
  <noscript><img height="1" width="1" style="display:none"
                 src="https://www.facebook.com/tr?id=519779078184970&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->

</head>

<body>

<%= yield %>

</body>
<footer class="section section-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3 style="font-family:Handlee">LoSibaritas.com</h3>
        <p>2015, LoSibaritas.com Ltd</p>
      </div>
    </div>
  </div>
</footer>
<%= render 'layouts/footerga' %>
</html>