<!DOCTYPE html>
<html>

<head>
  <title>LoSibaritas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='//fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>

</head>

<body>

<%= yield %>

</body>
<footer class="section section-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3 style="font-family:Handlee">LoSibaritas.com</h3>
        <p>2015, LoSibaritas.com Ltd</p>
      </div>
    </div>
  </div>
</footer>
<%= render 'layouts/footerga' %>
</html>